body {
  margin: 10px auto;
}
/*img {
  width: 150px;
  box-shadow: 8px 8px 4px #AAA;
  float: right;*/
}

.header {
  background: #e0e0eb;
  padding: 14px;
  border-radius: 15px;
  margin: 10px auto;
}

h4 {
  border-bottom: solid 4px gray;
    margin: 25px auto;
    color: #df691a;
  /*padding-bottom: 8px;*/
}
/*.footer {
  background-color: #b3b3cc;
  padding: 10px;
  border-radius:10px;*/
}

p {
  margin-top: 5px;
  margin-bottom: 25px;
}
